/.idea/
/node_modules/
/apps/backend/prisma/migrations/
/target/
/project/target/
/project/project/target/
/scala-frontend/target/
/scala-backend/target/
/web-vite/target/
/scala-frontend/esbuild/node_modules/
